header {
    background-color: #464646;
    padding: 0px;
    margin: 0px;
    color: #ffffff;
}

body {
    padding: 0px;
    margin: 0px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
}

main {
    padding-left: 20px;
    padding-right: 20px;
}

footer {
    border-top: 1px solid #464646;
    width: 100%;
    position : absolute;
    bottom : 0;
    margin-top: 20px;
}

label {
    display: inline-block;
    width: 160px;
    text-align: right;
}

#dsl {
    margin: 0px;
    color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
}

.action-list {
    list-style-type: none;
    padding: 0px;
}

.action-list > li {
    margin-bottom: 10px;
}

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    color: initial;
}

.input-number-nospinner {
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

ul.messages {
    list-style-type: none;
    padding: 0px;
}

ul.messages > li {
    color: "#00b115";
}
