[Unit]
After=redis.service
Description=Minimal door event logging

[Service]
Restart=always
User=root
ExecStart=/usr/bin/dsl-log

[Install]
WantedBy=multi-user.target
