[Unit]
After=redis.service
Description=DSL door buttons

[Service]
Restart=always
User=root
ExecStart=/usr/bin/dsl-buttons

[Install]
WantedBy=multi-user.target
