[Unit]
Description=Run hackman door daemon

[Service]
WorkingDirectory=/var/www/hackman/
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Restart=always
User=hackman
Group=hackman
ExecStart=/var/www/hackman/.venv/bin/python manage.py doord

[Install]
WantedBy=multi-user.target
