[Unit]
Description=Run hackman door daemon

[Service]
EnvironmentFile=/etc/hackman.env
Type=oneshot
User=hackman
Group=hackman
ExecStart=/bin/sh -c '/usr/local/bin/hackman-manage dumpdata | ssh ${BACKUP_DEST} "cat > door-day-$(date +%%u).json"'
ExecStart=/bin/sh -c 'cat </var/www/hackman/db/db.sqlite3 | ssh ${BACKUP_DEST} "cat > door-day-$(date +%%u).sqlite3"'
Nice=15
IOSchedulingClass=best-effort
IOSchedulingPriority=7
