[Unit]
Description=Runs database migrations
Wants=redis-server.service

[Service]
EnvironmentFile=/etc/hackman.env
Type=oneshot
DynamicUser=yes
StateDirectory=hackman
ExecStart=/usr/bin/hackman-manage migrate
