[Unit]
Description=Run hackman
Requires=nginx.service
Before=nginx.service

[Service]
WorkingDirectory=/var/www/hackman/
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Restart=always
User=www-data
Group=www-data
ExecStart=/var/www/virtualenvs/hackman/bin/gunicorn \
          --workers 4                               \
          --bind=127.0.0.1:8000                     \
          hackman.wsgi

[Install]
WantedBy=multi-user.target
