[Unit]
Description=Run hackman payment reminder

[Service]
WorkingDirectory=/var/www/hackman/
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Type=oneshot
User=www-data
Group=www-data
ExecStart=/usr/bin/sh -c '/var/www/virtualenvs/hackman/bin/python manage.py paymentreminders'
