[Unit]
Description=Run hackman
Requires=nginx.service hackman-migrate.service hackman-paymentimport.service hackman.socket
Before=nginx.service
After=hackman-migrate.service hackman-paymentimport.service
Wants=redis-server.service

[Service]
Type=notify
EnvironmentFile=-/etc/hackman.env
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Restart=always
DynamicUser=yes
StateDirectory=hackman
ExecStart=/usr/bin/hackman
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
