[Unit]
Description=Run hackman door daemon
Wants=redis-server.service

[Service]
WorkingDirectory=/var/www/hackman/
EnvironmentFile=/etc/hackman.env
Restart=always
User=root
ExecStart=/var/www/hackman/.venv/bin/python manage.py doord

[Install]
WantedBy=multi-user.target
