[Unit]
Description=Run hackman door daemon

[Service]
WorkingDirectory=/var/www/hackman/
EnvironmentFile=/etc/hackman.env
Type=oneshot
User=hackman
Group=hackman
ExecStart=/usr/bin/sh -c 'python3 manage.py dumpdata | ssh hackman@backuphost "cat > $(date --iso).json"'
