[Unit]
Description=Import payments from accounting repo
Wants=redis-server.service

[Service]
WorkingDirectory=/var/www/hackman/
EnvironmentFile=/etc/hackman.env
Type=oneshot
User=hackman
Group=hackman
ExecStart=/bin/sh -c '/var/www/hackman/.venv/bin/python manage.py import_payments'
