[Unit]
Description=Run hackman rfid daemon

[Service]
WorkingDirectory=/var/www/hackman/
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Restart=always
User=hackman
Group=hackman
ExecStart=/var/www/hackman/.venv/bin/python manage.py rfidd

[Install]
WantedBy=multi-user.target
