[Unit]
Description=Run hackman payment reminder

[Service]
EnvironmentFile=-/etc/hackman.env
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Type=oneshot
DynamicUser=yes
StateDirectory=hackman
ExecStart=/usr/bin/hackman-manage paymentreminders
