[Unit]
Description=Import payments from accounting repo
Wants=redis-server.service
After=hackman-migrate.service

[Service]
EnvironmentFile=-/etc/hackman.env
Environment="DJANGO_SETTINGS_MODULE=hackman.settings_prod"
Type=oneshot
DynamicUser=yes
StateDirectory=hackman
ExecStart=/usr/bin/hackman-manage import_payments
