[Unit]
Description=Run hackman
Requires=nginx.service hackman-migrate.service hackman-paymentimport.service
Before=nginx.service
After=hackman-migrate.service hackman-paymentimport.service
Wants=redis-server.service

[Service]
WorkingDirectory=/var/www/hackman/
EnvironmentFile=/etc/hackman.env
Restart=always
User=hackman
Group=hackman
ExecStart=gunicorn3 \
          --workers 1                         \
          --bind=unix:/tmp/hackman.sock       \
          --bind=127.0.0.1:8000               \
          --timeout 120                       \
          hackman.wsgi

[Install]
WantedBy=multi-user.target
