[Unit]
Description=Run hackman rfid daemon

[Service]
EnvironmentFile=/etc/hackman.env
Restart=always
User=root
ExecStart=/var/www/hackman/.venv/bin/python manage.py rfidd

[Install]
WantedBy=multi-user.target
