{% extends "base.jinja2" %}

{% block content %}

  <h2>Account actions</h2>
  <ul class="action-list">

    <li>
      <p>
        <form action="/payment_submit/" method="POST">
          {% csrf_token %}
          {{ payment_form }}
          <input type="submit" value="Submit">
        </form>
      </p>
    </li>

    <p>The door's database thinks your dues are
    {% if paid %} paid up {% else %} not paid {% endif %}
    </p>

    {% if valid_until %}
    <!-- not ready for people to read yet valid_until={{ valid_until }} -->
    {% endif %}

    <hr />

    <li>
      <form action="/rfid_pair/" method="POST">
        {% csrf_token %}
        {{ rfid_pair_form }}
        <input type="submit" value="Submit">
      </form>
    </li>

    <hr />

    <li>
      <p>
        &nbsp;&nbsp;<a href="{% url 'password_change' %}">Change password</a>
      </p>
    </li>

    <hr />

    <li>
      <p>
        &nbsp;&nbsp;<a href="{% url 'index' %}">Back to space actions</a>
      </p>
    </li>

  </ul>
{% endblock %}
