{% extends "base.jinja2" %}

{% block content %}

  <h2>Account actions</h2>
  <ul class="action-list">

    <li>
      <p> By clicking the 'Inform' button, you are agreeing that you
      have already paid or are about to pay right now.
        <form action="/payment_submit/" method="POST">
          {% csrf_token %}
          {{ payment_form }}
          <input type="submit" value="Inform">
        </form>
      </p>
    </li>

    {% if valid_until %}
    <p>The door's database says your dues are paid until {{ valid_until }}
    {% endif %}
    <hr />

    <li>
      <form action="/rfid_pair/" method="POST">
        {% csrf_token %}
        {{ rfid_pair_form }}
        <input type="submit" value="Pair">
      </form>
    </li>

    <hr />

    <li>
      <p>
        &nbsp;&nbsp;<a href="{% url 'password_change' %}">Change password</a>
      </p>
    </li>

    <hr />

    <li>
      <p>
        &nbsp;&nbsp;<a href="{% url 'index' %}">Back to space actions</a>
      </p>
    </li>

  </ul>
{% endblock %}
