<p>Dim Sum Labs is the first hackerspace in Hong Kong. It is a non-profit organization run by volunteers. Dim Sum Labs’s mission is to support and promote physical computing, open source hardware, and the Internet of Things.</p>
<p>香港第一間創客空間，也是一个非盈利創客空間，在中国各地传播创客空间的理念以及推广创客文化。大家可以与团队协作捣鼓新技术。點心樂部会积极举办讲座、项目、工坊、竞赛等。</p>
<p>
  Non-members can visit our open night on Tuesday's 8pm.
  <br/>
  非会员请在每禮拜二晚上8点開放夜来點心樂部参观了解。
</p>
