{% extends "base.jinja2" %}

{% block content %}

  <h2>Space actions</h2>
  <ul class="action-list">
    <li>
      <form action="/door_open/" method="GET">
        <input type="submit" name="open" value="Open door">
      </form>
    </li>
  </ul>

  <h2>Account actions</h2>
  <ul class="action-list">

    <li>
      <form action="/rfid_pair/" method="POST">
        {% csrf_token %}
        {{ rfid_pair_form }}
        <input type="submit" value="Submit">
      </form>
    </li>

    <hr />

    <li>
      <p>
        <form action="/payment_submit/" method="POST">
          {% csrf_token %}
          {{ payment_form }}
          <input type="submit" value="Submit">
        </form>
      </p>
    </li>

    <li>
      <p>
        &nbsp;&nbsp;<a href="{% url 'password_change' %}">Change password</a>
      </p>
    </li>

    <hr />

    <li>
      <form action="/logout/" method="GET">
        <label for="logout">Logout</label>
        <input type="submit" name="logout" value="Logout">
      </form>
    </li>

  </ul>
{% endblock %}
