{% extends "base.jinja2" %}

{% block content %}

  <h2>Space actions</h2>
  <ul class="action-list">
    <li>
      <form action="/door_open/" method="GET">
        <input type="submit" name="open" value="Open door">
      </form>
    </li>
  </ul>

  <h2>Account actions</h2>
  <ul class="action-list">

    <li>
      <form action="/rfid_pair/" method="POST">
        {% csrf_token %}
        <label for="card_id">Pair card by ID</label>
        <input class="input-number-nospinner" type="number" name="card_id">
        <input type="submit" value="Submit">
      </form>
    </li>

    <hr />

    <li>
      <form action="/payment_submit/" method="POST">
        {% csrf_token %}
        {{ payment_form.as_p }}
        <input type="submit" value="Submit">
      </form>
    </li>

    <hr />

    <li>
      <form action="/logout/" method="GET">
        <label for="logout">Logout</label>
        <input type="submit" name="logout" value="Logout">
      </form>
    </li>

  </ul>
{% endblock %}
