{% extends "base.jinja2" %}

{% block content %}
<h1>Wrong username/password</h1>

    <p>
      Do you want to <a href="{% url 'password_reset' %}">reset your password</a>?
    </p>
    <p>
      or Create a <a href="{% url 'account_create' %}">new account</a>
    </p>

  <hr />
  <a href="javascript:window.history.back()">Back</a>

{% endblock %}
