{% extends "screen/base.jinja2" %}

{% block content %}
  <p>
    <img style="float: left;" src="/static/screen/logo_dsl.png"></img>
    <span>Welcome to DSL, scan card etc etc</span>
  </p>
{% endblock %}
