{% extends "screen/base.jinja2" %}

{% block content %}
  <p>Welcome {{user.username}}!</p>
  <p>Please remember to renew your membership, its already expired and your access will soon be revoked</p>
{% endblock %}
